<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <%if (locals.ticket_id){ %>
        <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
            <form method="post" action="/poi">
                <tr>
                    <input type="hidden" name="ticket_id" value="<%= ticket_id%>"/>
                </tr>
                <tr>
                    <td><h4>Оплата за билет №<%= ticket_id%></h4></td>
                </tr>
                <tr>
                    <td><b>Номер карты</b><br /><input class="form-control" type="text" name="card_number" required/></td>
                    <td><b>Срок действия</b><br /><input class="form-control" type="date" name="validity" max="2025-01-01" min="2018-01-01" required/></td>
                    <td><b>Код безопасности</b><br /><input class="form-control" type="text" name="secure_code" required/></td>
                    <td><b>Владелец карты</b><br /><input class="form-control" type="text" name="clientName" placeholder="ФИО" required/>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-success btn-primary btn-block">Купить</button></td>
                </tr>
            </form>
            </tbody>
        </table>
    <% } %>
</body>
</html>