<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <%if (locals.ticket_id){ %>
        <table class="table table-hover">
            <thead>
            </thead>
            <tbody>
            <form method="post" action="/poi">
                <tr>
                    <td><b>Оплата за билет №</b><input class="form-control" type="text" name="ticket_id" value="<%= ticket_id%>" readonly/></td>
                </tr>
                <tr>
                    <td><b>Номер карты</b><br /><input class="form-control" type="text" name="card_number"/></td>
                    <td><b>Срок действия</b><br /><input class="form-control" type="text" name="validity"/></td>
                    <td><b>Код безопасности</b><br /><input class="form-control" type="text" name="secure_code"/></td>
                    <td><b>Владелец карты</b><br /><input class="form-control" type="text" name="clientName" placeholder="Имя"/><input class="form-control" type="text" name="clientSurname" placeholder="Фамилия"/></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-success btn-primary btn-block">Купить</button></td>
                </tr>
            </form>
            </tbody>
        </table>
    <% } %>
</body>
</html>