<h2 class="page-header">Поиск билетов</h2>
{{#if data_races}}
        {{#each data_races}}
            <table>
                <tr>
                    <th>Авиакомпания</th>
                    <th>Время в пути</th>
                </tr>
                <tr>
                    <td>{{this.airline}}</td>
                    <td>{{this.travel_time}}</td>
                </tr>
            </table>
        {{/each}}
{{/if}}