<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {{#if data_races}}
        <form method="post" action="/buyticket">
            ЗДЕСЬ НУЖНО РАЗОБРАТЬСЯ
            <input type="text" name="cost" value="{{this.cost}}" readonly>
            <input type="submit" class="btn btn-dark btn-block" value="Купить">
        </form>
    {{/if}}
</body>
</html>