<h2 class="page-header">Поиск билетов</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<form method="post" action="/race">
    <div class="form-group col-md-6">
        <label>Город отправления</label>
        <select class="form-control" name="starting_point">
            <option>Город отправления</option>
            <option>Moscow</option>
            <option>Амстердам</option>
            <option>Прага</option>
            <option>T1</option>
            <option>T2</option>
            <option>T3</option>
        </select>
        <!--<input type="text" class="form-control" placeholder="Город отправления" name="starting_point">-->
    </div>
    <div class="form-group col-md-6">
        <label>Город прибытия</label>
        <select class="form-control" name="end_point">
            <option>Город прибытия</option>
            <option>Astana</option>
            <option>Прага</option>
            <option>T1</option>
            <option>T2</option>
            <option>T3</option>
        </select>
        <!--<input type="text" class="form-control" placeholder="Город прибытия" name="end_point">-->
    </div>
    <div class="form-group col-md-4">
        <label>Дата отправления</label>
        <input type="date" class="form-control" placeholder="Дата отправления" name="flight_date" max="2025-01-01" min="2018-01-01" id="check" onkeypress="return false">
    </div>
    <div class="form-group col-md-2">
        <label for="bag">Багаж</label>
        <input type="text" class="form-control" name="baggage" id="bag">
    </div>
    <div class="form-group col-md-4">
        <label>Класс обслуживания</label>
        <select class="form-control" name="class_of_service">
            <option>Эконом-класс</option>
            <option>Бизнес-класс</option>
            <option>Люкс-класс</option>
        </select>
        <!--<input type="text" class="form-control" placeholder="Класс обслуживания" name="class_of_service">-->
    </div>
        <div class="form-group col-md-2">
            <label></label>
            <button type="submit" class="btn btn-primary btn-block">Найти</button>
        </div>
</form>