<h2 class="page-header">Поиск билетов</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/race">
    <div class="form-group col-md-6">
        <label>Город отправления</label>
        <input type="text" class="form-control" placeholder="Город отправления" name="starting_point">
    </div>
    <div class="form-group col-md-6">
        <label>Город прибытия</label>
        <input type="text" class="form-control" placeholder="Город прибытия" name="end_point">
    </div>
    <div class="form-group col-md-4">
        <label>Дата отправления</label>
        <input type="text" class="form-control" placeholder="Дата отправления" name="flight_date">
    </div>
    <div class="form-group col-md-4">
        <label>Багаж</label>
        <input type="text" class="form-control" placeholder="Багаж" name="baggage">
    </div>
    <div class="form-group col-md-4">
        <label>Класс обслуживания</label>
        <input type="text" class="form-control" placeholder="Класс обслуживания" name="class_of_service">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Найти</button>
    </div>
</form>
</body>
</html>