<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
</head>
<body>
<header>
    <h1>Добро пожаловать, {{ user.username }}</h1>
</header>
<main>
    <img src="{{ user.thumbnail }}" />
    <p>This is your profile thumbnail</p>
</main>
</body>
</html>