<h2 class="page-header">Регистрация</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/users/register">
    <div class="form-group">
        <label>Имя</label>
        <input type="text" class="form-control" placeholder="Имя" name="name">
    </div>
    <div class="form-group">
        <label>Фамилия</label>
        <input type="text" class="form-control" placeholder="Фамилия" name="surname">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email">
    </div>
    <div class="form-group">
        <label>Пароль</label>
        <input type="password" class="form-control" placeholder="Пароль" name="password">
    </div>
    <div class="form-group">
        <label>Повторите пароль</label>
        <input type="password" class="form-control" placeholder="Повторите пароль" name="password2">
    </div>
    <button type="submit" class="btn btn-default">Зарегистрироваться</button>
</form>