<!DOCTYPE html>
<html>
<head>
    <title>IMANBERDI</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li><a href="http://localhost:3001/">Главная страница</a></li>
                <li><a href="http://localhost:3001/profile">Личный кабинет - {{user.username}}</a></li>
                <li role="presentation"><a href="http://localhost:3001/users/logout">Выйти</a></li>
            </ul>
        </nav>
    </div>

<h1> Ваш электронный билет был отправлен на вашу почту! Благодарим за покупку билета!</h1>

</div>
</body>
</html>