<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMANBERDI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:1003">Poisk aviabiletov</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8080">Home</a></li>
            <li><a href="http://localhost:8080/login">Поиск авиабилетов</a></li>
            <!--<li><a href="http://localhost:8080/contents">Контенты</a></li>-->
            <!--<li><a href="http://localhost:1003/playlists">Плейлисты</a></li>-->
        </ul>
    </div>
</nav>

<div class="w3-container">
    <h1>Testing Site by Alik</h1>

    <div class="w3-panel w3-light-grey">
        <span style="font-size:150px;line-height:0.6em;opacity:0.2">❝</span>
        <p class="w3-xlarge" style="margin-top:-40px"><i>Testing Site by Alik</i></p>
    </div>

</div>

</body>
</html>