<!DOCTYPE html>
<html lang="en">
<head>
    <title>Поиск авиабилетов</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:1003">Imanberdi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Войти</a></li>
            <li><a href="#">Регистрация</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <form method="GET" action="/searchTickets" id='formaDel' class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <!--<form method="POST" action="/users/new">-->
        <div class="w3-panel w3-green w3-round-xlarge">
            <h5>Поиск авиабилетов</h5>
        </div>
        <div class="form-row">
            <div>
                <label for="fromplace">Город отправления</label>
                <input type="text" class="form-control" id="fromplace" placeholder="Город отправления" name="fromplace">
            </div>
            <div>
                <label for="toplace">Город прибытия</label>
                <input type="text" class="form-control" id="toplace" placeholder="Город прибытия" name="toplace">
            </div>
            <div>
                <label for="datefromclient">Дата отправления</label>
                <input type="text" class="form-control" id="datefromclient" placeholder="Дата отправления..." name="datefromclient">
            </div>
            <div>
                <label for="datefromclient">Багаж</label>
                <input type="text" class="form-control" id="baggage" placeholder="Багаж..." name="baggage">
            </div>
        </div>
        <input type="submit" class="w3-button w3-block w3-section w3-green w3-ripple w3-padding" value="Поиск"/>
    </form>
</div>

</body>
</html>