<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="./react.development.js"></script>
    <script src="./react-dom.development.js"></script>
    <script src="./babel.min.js"></script>
</head>
<body>

<div id="root"></div>

<script type="text/babel">

    function Func(props) {
        return (<div className="Comment"> <b>Hello from </b> {props.name}! <b>Surname is </b> {props.surname}! </div>);
    }

    const element = {name: 'Sara', surname: 'sd' };

    ReactDOM.render(
        <Func
            name = {element.name}
            surname = {element.surname}
        />,
        document.getElementById('root')
    );

</script>


</body>
</html>